@import './shared.scss';
// Bubble icon
.bubble-icon {
  & svg {
    width: 1.4rem;
  }
  & path {
    fill: $blue;
  }
}
.button-basic {
  & path {
    fill: $white;
  }
}
// arrow icon
.arrow-icon {
  & path {
    fill: none;
    stroke: $blue;
  }
}
.button-basic .arrow-icon {
  & path {
    fill: none;
    stroke: $white;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 0;
  padding: 2.2rem 2rem;
  width: max-content;
}
.all-buttons-container {
  align-items: center;
  align-items: center;
  background-color: $white;
  border: 0.3rem dashed #7b61ff;
  margin-bottom: 2rem;
  border-radius: 5px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 10rem));
  gap: 2rem;
}
.button--round,
.button-light--round,
.button-white--round,
.button-white-dashed--round {
  border-radius: 10rem;
}
.button-light,
.button-light--round {
  background-color: $lightBlue;
  color: $blue;
  &:hover,
  &:focus {
    outline: 0.2rem solid $blue;
    background-color: $lightBlue;
    color: $blue;
  }
}
.button-white,
.button-white--round {
  background-color: $white;
  outline: 1px solid $blue;
  color: $blue;
  &:hover,
  &:focus {
    outline: 0.2rem solid $blue;
    background-color: $white;
    color: $blue;
  }
}
.button-white-dashed,
.button-white-dashed--round {
  background-color: $white;
  outline: 0.18rem dashed $blue;
  color: $blue;
  &:hover,
  &:focus {
    outline: 0.3rem dashed $blue;
    background-color: $white;
    color: $blue;
  }
}
