@import './shared.scss';
.gdrive-card {
  width: 100%;
}
.gdrive-icons,
.gb-plan-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gdrive-icon {
  width: 2rem;
}
.gdrive-icon-wrapper {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 1rem;
  background-color: $veryLightGrey;
}
.custom-progressbar {
  display: grid;
  & input[type='range']::-webkit-slider-thumb {
    opacity: 0;
    padding: 0;
    width: 0;
  }
  // & input[type='range']::-webkit-progress-bar {
  //   background-color: red;
  // }
}
