@import './shared.scss';

.badge-button-wrapper {
  display: flex;
  gap: 1rem;
}
.badge {
  background-color: $blue;
  color: $white;
  padding: 0.6rem 1.2rem;
  border-radius: 0.8rem;
  user-select: none;
}
.badge--disabled {
  background-color: $lightGrey;
  color: darken($grey, 20);
}

.card-with-badges {
  display: grid;
  gap: 1.5rem;
}
.badge__subline {
  color: $grey;
  padding-top: 0.5rem;
}
